* {
    margin: 0;
    padding: 0;
}

body {
    height: 60vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20vh 10vw;
    background-color: #d9d9d9;
}

/*Form*/
form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

form input {
    padding: 0 10px;
    height: 5vh;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #000;
}

form #register {
    cursor: pointer;
    background-color: #868686;
}

form #register:hover {
    background-color: #d9d9d9;
}

/*Table*/

section #search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

section #search {
    border: none;
    width: 80%;
}

section #search-btn {
    width: 20%;
    background-color: #d9d9d9;
    cursor: pointer;
}

section #search-btn:hover {
    background-color: #868686;
}

section table {
    width: 100%;
    background-color: white;
    padding: 1vh;
    border-radius: 20px;
    text-align: center;
}

section table th, td {
    border: 1px solid #000;
    width: 20%;
}

.delete {
    background-color: rgb(255, 78, 78);
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}